@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand: #898ac4;
  --color-base: #140530;
  --color-surface: oklch(from var(--color-base) calc(0.9 + l * 0.1) c h);
  --color-text: black;
  --color-text-secondary: oklch(from var(--color-text) l c h / 0.6);
}

:root {
  --ui-text: var(--color-text);
  --ui-text-dimmed: oklch(from var(--ui-text) calc(l * 0.8) c h);
  --ui-text-muted: oklch(from var(--ui-text) calc(l * 0.7) c h);
  --ui-text-toned: oklch(from var(--ui-text) calc(l * 0.9) calc(c + 0.1) h);
  --ui-text-highlighted: oklch(from var(--ui-text) calc(l * 1.2) c h);
  --ui-text-inverted: oklch(from var(--ui-text) calc(1 - l) c h);

  /* fix */
  --ui-success: var(--color-emerald-300);
  --ui-info: var(--color-sky-300);
  --ui-warning: var(--color-amber-300);
  --ui-error: var(--color-rose-500);
  /* --- */

  --ui-primary: oklch(from var(--color-base) calc(0.5 - l * 0.5) c h);
  --ui-secondary: oklch(from var(--ui-primary) l c calc(h + 200));

  --ui-bg: var(--color-surface);
  --ui-bg-muted: oklch(from var(--ui-bg) calc(l * 0.8) c h);
  --ui-bg-elevated: oklch(from var(--ui-bg) calc(l * 0.95) c h);
  --ui-bg-accented: oklch(from var(--ui-bg) calc(l * 0.9) c h);
  --ui-bg-inverted: oklch(from var(--ui-bg) l c calc(h + 180));

  --ui-border: oklch(from var(--ui-bg) calc(l - 0.5) c h);
  --ui-border-muted: oklch(from var(--ui-border) calc(l * 1.2) c h);
  --ui-border-accented: oklch(from var(--ui-border) calc(l * 0.6) c h);
  --ui-border-inverted: oklch(from var(--ui-border) l c calc(h + 180));
}
.dark {
  /* --color-base: #351665; */
  --color-surface: oklch(from var(--color-base) 0.15 0.02 h);

  --color-text: white;
  --color-text-secondary: oklch(from var(--color-text) l c h / 0.6);

  --ui-primary: oklch(from var(--color-base) 0.3 c h);
  --ui-primary: #a78bfa;

  --ui-bg-muted: oklch(from var(--ui-bg) calc(l + 0.5) c h);
  --ui-bg-elevated: oklch(from var(--ui-bg) calc(l * 1.5) c h);
  --ui-bg-accented: oklch(from var(--ui-bg) calc(l * 2) c h);

  --ui-border: oklch(from var(--ui-bg) calc(l + 0.5) c h);
}

button:active {
  background-color: var(--ui-bg-elevated);
}
